/***************** Init *****************/


@keyframes border-rgbcolor {
    0% {
        border-color: rgb(231, 209, 6);
    }
    33% {
        border-color: rgb(123, 34, 207);
    }
    66% {
        border-color: rgb(20, 80, 192);
    }
    100% {
        border-color: rgb(172, 36, 36); 
    }
}

@font-face {
    font-family: "kanit regular";
    src: url(../fonts/KANIT/Kanit-Regular.ttf);
  }

@font-face {
    font-family: "kanit italic";
    src: url(../fonts/KANIT/Kanit-BoldItalic.ttf);
    }

/***************** body *****************/

body {
    background-repeat: no-repeat;
    font-family: "kanit regular";
    margin: 0;
}

main {  
    margin-top: 100px;
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;   
}

#h1move h1 {   /*entete "nos machines"*/ 
    font-family: "kanit italic";
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    font-size: 40px;
}

#list { /*liste des produits*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

#list section { /*section de la liste des produits*/
    display: grid;
    grid-template-rows: auto auto auto;
    justify-items: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
}

#bckvideo { /*fond de la page*/
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

#btn {  /*bouton de pause du fond*/ 
    background-color: black;
    border-radius: 50%;
    transition: 650ms;
    position: fixed;
    width: 50px;
    height: 50px;
    right: 10px;
    bottom: 10px;
}

#btn img {  /*bouton de pause du fond*/
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#h1move {   /* Fond de l'entete "nos machines" */
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 45px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#bckmobil {
    display: none;
}
/***************** Section *****************/

a .pc { 
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

section {
    background-color: whitesmoke;
    border: 4px solid black;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
    transition: 500ms;
    width: 350px;
}

section ul {
    padding-left: 0;
}

section li {    
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 3fr;
    color: black;
    font-size: smaller;
}

section a { /*liens des produits*/
    text-decoration: none;
    color: black;
}

#icon {
    width: 30%;
    margin-left: 20px;
}

.name {
    font-size: larger;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
}

.compo p {
    margin-top: 0;
    margin-bottom: 0;
}

.compo {
    margin-bottom: 2%;
}

.price {
    font-size: 22px;
} 

.nomprix {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 15px;
}

.pc {
    width: 350px;
}

/*********  Promo   *********/

section.promo { /* section des produits en promo */
    border: solid black;
    animation: border-rgbcolor 2s infinite;
}

.promo {
    position: relative;
}

.promo .nomprix {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.promo .price {
    text-decoration: line-through;
    text-decoration-thickness: 3px; 
}

.promo .top-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 100px;
    top: -40px;
    right: -20px;
    transition: 500ms;
}

.newprice {
    font-size: 22px;
    color: red;
    transition: 500ms;
}

/****************************/

/***************** Interact *****************/

.onclic { filter: invert(1); }

.promo:hover .top-right {
    transform: scale(1.5) rotate(360deg);
}
.promo:hover .newprice {
    transform: scale(1.5);
}

/****************   HEADER   *****************/

#backgroundheader {
    background-color: rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 30px;
    height: 200px;
    margin: 8px;
}

#logo {
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.buttonheader {
    font-family: "kanit italic";
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;    
}


/***************** Screen Adaptative *****************/

@media (max-width: 1800px) {
    #list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    main {
        width: 1200px;
    }
   
}

@media (max-width: 1160px) {

    #list {
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
    }

    #h1move{
        width: 367px;
        height: 75px;
    }

    #h1move h1 {
        margin-top: 8px;
    }

    #backgroundheader {
        min-width: 460px;
        margin:0;
        padding: 0;
        border-radius: 0;
        position: relative;

    }

    main {
        width: 50%; 
    }

    body {
        min-width: 760px;
    }

    #bckvideo {
        display: none;
    }

    #btn {
        display: none;
    }

    #bckmobil {
        display: inline;
        z-index: -1;
        position: fixed;
    }
}

/******************** Footer ************************/

footer {

    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px 10px 0 0;

}

footer a {
    text-decoration: none;
    color: white
}

#footer {
    display: grid;
    grid-template-columns: 1fr 1fr;

    margin-top: 100px;
}

#footerlinks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 10px;
}

#footerlinks a {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
    width: 100px;
    text-align: center;
    border-radius: 10px;
    height: 20px;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 10px;
    transition: 500ms;
}

#footerlinks a:hover {
    background-color: rgba(0, 0, 0, 0.8);
    transform: scale(1.5);
    border: 1px solid rgb(123, 34, 207);
}
