/***************** Init *****************/


@keyframes border-rgbcolor {
    0% {
        border-color: rgb(231, 209, 6);
    }
    33% {
        border-color: rgb(123, 34, 207);
    }
    66% {
        border-color: rgb(20, 80, 192);
    }
    100% {
        border-color: rgb(172, 36, 36); 
    }
}

@font-face {
    font-family: "kanit regular";
    src: url(../fonts/KANIT/Kanit-Regular.ttf);
  }

@font-face {
    font-family: "kanit italic";
    src: url(../fonts/KANIT/Kanit-BoldItalic.ttf);
    }


/***************** body *****************/

body {
    background-repeat: no-repeat;
    font-family: "kanit regular";
    margin: 0;
}

main {  
    margin-top: 100px;
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;   
}

#h1move h1 {   /*entete "nos machines"*/ 
    font-family: "kanit italic";
    margin-left: auto;
    margin-right: auto;
    display: block;
    text-align: center;
    font-size: 40px;
}

#list { /*liste des produits*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

#bckvideo { /*fond de la page*/
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

#btn {  /*bouton de pause du fond*/ 
    background-color: black;
    border-radius: 50%;
    transition: 650ms;
    position: fixed;
    width: 50px;
    height: 50px;
    right: 10px;
    bottom: 10px;
}

#btn img {  /*bouton de pause du fond*/
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#bckmobil {
    display: none;
}

.onclic { filter: invert(1); }

.promo:hover .top-right {
    transform: scale(1.5) rotate(360deg);
}
.promo:hover .newprice {
    transform: scale(1.5);
}

#backgroundheader {
    background-color: rgba(0, 0, 0, 0.5);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border-radius: 30px;
    height: 200px;
    margin: 8px;
}

#logo {
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.buttonheader {
    font-family: "kanit italic";
    color: white;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;    
}

/**************** Mise en page DIV1 et DIV2 ******************/

.parent {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 2 / 3; }

.parent .div2 {
    background-color: aliceblue;
    border-radius: 20px;
    height: 700px;
}

.div1 img {
    width: 700px;
    border-radius: 20px;
}

.div2 p {
    font-size: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;
    padding: 20px;
    padding-top: 70px;
}

/**************** Mise en page DIV3 et DIV4 ******************/



.div4 {
    background-color: aliceblue;
    border-radius: 20px;
}

.div4 h3 {
    margin-top: 45px;
}
.div3 {
    background-color: aliceblue;
    border-radius: 20px;
}

.oldprice {
    text-decoration: line-through;
    padding-left: 100px;
 
}
.newprice {
    color: red;
    transition: 650ms;
    padding-left: 75px;
    font-size: 45px;
}

.price {
    color: black;
    transition: 650ms;
    padding-left: 75px;
    font-size: 45px;
}

/**************** Mise en page DIV5 ******************/

.div5 {
    background-color:aliceblue;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 15px;
    margin-bottom: 100px;
}

.div5 p {
    text-align: center;
    padding-top: 0px;
}

.iconpub {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

/**************** Défilement DIV4 ******************/


.div4 {
    position: relative;
    z-index: 1000;
    transition: border-radius 0.3s ease;
}

.div4.open {
    border-radius: 10px 10px 0 0;
}

.dropdown-btn {
    
    width: 100%;
    border: none;
    background: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.dropdown-content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    
    transition: max-height 750ms ease, opacity 750ms ease;
}

.dropdown-content.active {
    display: block;
    max-height: 500px;
    opacity: 1;
}

.dropdown-content ul {
    list-style: none;
    padding: 20px;
    margin: 0;
}

.dropdown-content li {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
}

.arrow {
    transition: 500ms;
    font-size: 30px;
    margin-top: 20px;
}

.arrow.active {
    transform: rotate(180deg);
}


/**************** Mise en page DIV6 ******************/

.div6 {
    display: flex;
    justify-content: center; 
    align-items: flex-start;    
    background-color: aliceblue;
    border-radius: 20px;
    margin-top: 15px;
    font-size: 40px;
    transition: 500ms;
}

.div6 img {
    margin: 45px;
    width: 50px;
    height: 50px;
}

.div6:hover {
    background-color: rgb(17, 230, 88);
}