/***************** Init *****************/

:root {
    --violet1: #441a3d;
    --violet2: #5C5792;
    --violet3: #9F8DC3;
    --violet4: #BE9CC7;
    --violet5: #E3BAD5;
}

@keyframes border-rgbcolor {
    0% {
        border-color: rgb(231, 209, 6);
    }
    33% {
        border-color: rgb(123, 34, 207);
    }
    66% {
        border-color: rgb(20, 80, 192);
    }
    100% {
        border-color: rgb(172, 36, 36); 
    }
}




@font-face {
    font-family: "kanit regular";
    src: url(../fonts/KANIT/Kanit-Regular.ttf);
  }

@font-face {
    font-family: "kanit italic";
    src: url(../fonts/KANIT/Kanit-BoldItalic.ttf);
    }



/***************** Glob *****************/

body {
    /*background-color: var(--violet1);*/

    background-repeat: no-repeat;
    font-family: "kanit regular";
}

main h1 {
    color: var(--violet4);
    font-family: "kanit italic";
    padding: 2%;
    opacity: 1;
    transition: transform 500ms;
}

main {
    margin-top: 100px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid black;
    border-radius: 50px;    

}


header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


section img {
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}


/***************** class ID *****************/

#logo {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#menu li {
    list-style: none;
    
    border-radius: 20px;
    width: 100px;
    text-align: center;
}

#menu {
    color: var(--violet4)
}

.pc {
    width: 350px;
}

#list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

section.promo {
    border: thick double black;
    animation: border-rgbcolor 2s infinite;
}

section {
    border: 2px solid var(--violet5);
}
#list section {
    display: grid;
    grid-template-rows: auto auto auto;
    justify-items: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
}

#bckvideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
  }

 #btn {
    background: none;
    border: 2px solid black;
    border-radius: 50%;
 }

.onclic { filter: invert(1); }

/***************** Interact *****************/


#menu li:hover {
    text-shadow:
    1px 1px 2px black,
    0 0 1em rgb(255, 196, 0),
    0 0 0.2em rgb(255, 123, 0);
    transition: 300ms;
}









